body {
    background:url('pic/hekker.gif');
    background-repeat:repeat; 
    background-size: center;
    width: 99%;
    height: 99%;
    color: white;
}
.header {
    padding: 15%;
    text-align: center;
    background-image: url('pic/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 90%;
    color: white;
    font-size:2vw;
}
.container{
    text-align: center;
}
  .myButton {
    text-align: center;
    box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
&:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
 &:active {
	position:relative;
	top:1px;
}
